.customers {
  display: flex;
  flex-flow: column wrap;
  background: aliceblue;
  .search {
    display: inline-flex;
    flex-direction: column;
    input {
        outline: none;
        border: 2px solid #674ebf;
        height: 25px;
        padding: 5px;
    }
  }
  .adduser {
    padding: 10px 0px;
    display: inline-flex;
    justify-content: flex-end;
    button {
      color: whitesmoke;
      font-size: 13px;
      flex-basis: 100px;
    }
  }
}

.user-form {
  display: flex;
  flex-flow: column wrap;
  form {
    display: inline-flex;
    justify-content: center;
    flex-flow: column wrap;
    .form-input {
      display: inline-flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      padding: 10px;
      button {
        color: whitesmoke;
        font-size: 13px;
      }
    }
  }
}