.table-flex-container {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #363636;
  .header {
    display: inline-flex;
    justify-content: space-between;
    padding: 10px 5px;
    flex-basis: 100%;
    border-bottom: 1px solid #363636;
    .column {
       color: #363636;
       font-size: 14px;
       font-weight: 600;
       text-align: left;
    }
  }
  .content {
      display: inline-flex;
      justify-content: space-between;
      flex-flow: column wrap;
      // padding: 10px 5px;
      flex-basis: 100%;
      .row {
         display: inline-flex;
         flex-flow: row nowrap;
         text-align: left;
         border-bottom: 1px solid #363636;
         padding: 7px 7px;
         align-items: center;
         button {
           color: whitesmoke;
           margin: 0px 2px;
         }
      }
  }
}